.make_pb-text-column:hover .sortable-background.column-sortable-background {
    opacity: 1;
}

.make_pb-section-text .make_pb-titlediv {
    margin-bottom: 0; /*reset*/
    padding-right: 90px;
}
.make_pb-section-text .make_pb-media-uploader-placeholder {
    border-bottom: 0; /*reset*/
}
.make_pb-section-text .make_pb-section-body {
    padding-left: 10px;
    padding-right: 10px;
}
.make_pb-text-columns-stage .sortable-placeholder {
    width: 100%;
    margin: 0; /*reset*/
    padding: 0 9px;
}
@media screen and ( min-width: 1160px ) {
    .make_pb-text-columns-stage .sortable-placeholder {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
    }
}

.make_pb-text-columns-stage {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.make_pb-text-column {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.make_pb-text-column {
    position: relative;
}
@media screen and ( min-width: 1160px ) {
    .make_pb-text-column {
        flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        margin-bottom: 0; /*reset*/
    }
}
/*---------------------------------------------------------
 Text: One column (sections.css)
-------------------------------------------------------- */
.make_pb-text-columns-1 .make_pb-text-column-position-2,
.make_pb-text-columns-1 .make_pb-text-column-position-3,
.make_pb-text-columns-1 .make_pb-text-column-position-4 {
    display: none;
    width: 0%;
}
.make_pb-text-columns-1 .make_pb-sortable-handle {
    visibility: hidden;
}
/*---------------------------------------------------------
 Text: Two column (sections.css)
-------------------------------------------------------- */
.make_pb-text-columns-2 .make_pb-text-column-position-3,
.make_pb-text-columns-2 .make_pb-text-column-position-4 {
    display: none;
    width: 0%;
}
/*---------------------------------------------------------
 Text: Three column (sections.css)
-------------------------------------------------------- */
.make_pb-text-columns-3 .make_pb-text-column-position-4 {
    display: none;
    width: 0%;
}
@media screen and ( min-width: 1160px ) {
    .make_pb-text-columns-2,
    .make_pb-text-columns-3,
    .make_pb-text-columns-4 {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
    }
}

.edit-content-link.item-has-content.edit-text-column-link:before {
    content: "\f214";
}

.edit-text-column-link {
    display: inline-block;
    position: absolute;
    clear: both;
    top: 20px;
    right: 45px;
    height: 39px;
    margin-bottom: 0; /*reset*/
    padding: 0 12px;
    border: 1px solid #d9d9d9;
    background-color: #eeeeee;
    color: #aaaaaa;
    text-decoration: none;  /*reset*/
    outline: none !important;
}
.edit-text-column-link {
    top: 0; /*reset*/
}

.edit-text-column-link:hover {
    color: #222222;
}
.edit-text-column-link span {
    display: none;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}
.edit-text-column-link:before {
    content: "\f464";
    font: 400 20px/39px dashicons;
    speak: none; /*reset*/
}
